.Listings{
    width: 1000px;
    margin: 30px auto;
}
.container{
    border: none;
    border-radius: 3px;
    height: auto;
    display: flex;
    padding: 20px 30px;
    padding-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 3px 3px 8px hsl(180, 29%, 50%);
    background: white;
}
.container:hover{
    border-left: 4px solid hsl(180, 29%, 50%);
    padding-left: 27px;
    transition: 0.1s;
}
.rotating {
    animation: rotate 10s infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.container img{
    cursor: pointer;
}

/* details */
.details{
    display: block;
    justify-content: space-evenly;
    min-width: 300px;
    margin-left: 50px;
}
.company, .position{
    margin-bottom: 10px;
}
.position:hover{
    cursor: pointer;
    color: hsl(180, 29%, 50%);
    transition: 0.3s;
}
.details .status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    color: hsl(180, 8%, 52%);
}
.details .compDets{
    display: flex;
    align-items: center;
}
.compDets:first-child{
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}
.compDets .new, .featured{
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-top: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    background: hsl(180, 29%, 50%);
}
.featured{
    background: hsl(180, 14%, 20%);
}


/* category */
.category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:auto;
    margin-right:0;
}
.category button{
    margin-right: 12px;
    padding: 5px;
    color: hsl(180, 29%, 50%);
    background: hsl(180, 52%, 96%);
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.category button:hover{
    color: white;
    background: hsl(180, 29%, 50%);
}

.noshow{
    display: none;
}


/* FILTER BAR */
.Filter{
    width: 1000px;
    margin: 50px auto;
    margin-top: -30px;
    border: none;
    background: white;
    border-radius: 4px;
    min-height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: relative;
    box-shadow: 2px 2px 2px hsl(180, 29%, 50%);
}
.Filter button {
    border: none;
    background: none;
    font-weight: bolder;
    color: hsl(180, 29%, 50%);
}
.Filter button:hover{
    text-decoration: 2px solid hsl(180, 29%, 50%) underline;
    cursor: pointer;
}

.filtersArray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.filtDiv{
    display: flex;
    margin-right: 12px;
    padding: 5px;
    color: hsl(180, 29%, 50%);
    background: hsl(180, 52%, 96%);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.filtDiv img{
    margin-left: 5px;
    background: hsl(180, 29%, 50%);
    cursor: pointer;
    padding: 5px;
}

/* form */
.Filter form{
    transform: translateY(55px);
    margin: 0 auto;
    width: 200px;
}
.Filter input[type="text"] {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    outline: none;
}
.noshow{
    display: none;
}